.container{
    margin: 5% 5%;
    width: auto;
}

.inputContainer{
    margin: 3%;
    width: 40%;
}

.alignRight{
    float: right;
}

.inputBoxText{
    width: 60%;
}

.errorText{
    font-style: italic;
    color: rgb(255, 0, 0);
}
    
.horizontal-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
